*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Monserrat' , sans-serif;
}
.hero{
	min-height: 100vh; /* testeando en 1080p */
	width: 100%;
	background: url(../img/background.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 30px; /* testeando en 1080p */
	padding-left: 7%;
	padding-right: 7%;
}
.logo img{
	width: 200px;
	cursor: pointer;
}
nav ul li{
	list-style: none;
	display: inline-block;
	padding: 0px 25px;
}
nav ul a{
	color: #ffffffb3;
	font-size: 17px;
	letter-spacing: 3px;
}
nav ul a:hover{
	color: white;
	transition: .3s;
}
button{
	background: #FF3399;
	padding: 12px 20px;
	border: 2px solid #ffffff;
	color: white;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 7px;
	letter-spacing: 2px;
}
button:hover{
	background: transparent;
	border: 2px solid #ffffffb3;
	transform: scale(0.9);
	transition: .4s;
	cursor: pointer;
}
.content{ 
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-top: 70px;
}

.content h3{
	display: block;
	width: 100%;
	color: #ffffffb3;
	font-size: 23px;
	letter-spacing: 10px;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 10px;
}
.content h1{
	width: 100%;
	font-size: 180px;
	color: white;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 25px;
	margin: 0.1em 0px; /* corrigiendo margen del titulo */ 
}
.content p{
	width: 100%;
	color: #ffffffb3;
	font-size: 18px;
	line-height: 30px;
	position: relative;
	margin-top: 320px; /* testeando en 1080p */
	padding-top: 0px; /* testeando en 1080p */
	z-index: 5;
}
.btn{
	background: transparent;
	border: 2px solid #ffffffb3;
	padding: 14px 30px;
	color: white;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 7px;
	z-index: 1;
	margin-top: 20px; /* testeando en 1080p */
}
.btn:hover{
	background: #FF3399;
	border: 2px solid #ffffff;
	transition: .2s;
	cursor: pointer;
}
.main-img{
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.main-img img{
	width: 400px; /* Ajuste sugerido */
	height: auto;
	padding-bottom: 0px; /* testeando en 1080p */
	margin-bottom: 170px;
}

/* Estilos para pantallas más pequeñas */

@media (max-width: 768px) {
	.logo img{
		width: 150px;
	}

	nav{
		padding-left: 5%;
		padding-right: 5%;
	}

	nav ul li{
		padding: 0px 15px;
	}

	.content h1{
		font-size: 100px;
		letter-spacing: 10px;
	}

	.content p{
		font-size: 16px;
	}

	.main-img img{
		width: 100%;
		height: auto;
		padding-bottom: 200px;
	}
}

/* Estilos para pantallas de alta resolución (1080p) */

@media (max-width: 1080px) {
	.logo img{
		width: 350px;
	}

	nav{
		padding-left: 7.5%;
		padding-right: 7.5%;
	}

	nav ul li{
		padding: 0px 35px;
	}

	.content h1{
		font-size: 150px;
		letter-spacing: 20px;
	}

	.content p{
		margin-top: 360px;
		padding-top: 0px;
	}

	.main-img img{
		margin-bottom: 80px;
	}
}

/* Estilos para pantallas de alta resolución 2K (1440p) */

@media (min-width: 1440px) {
	.logo img{
		width: 250px;
	}

	nav{
		padding-left: 10%;
		padding-right: 10%;
	}

	nav ul li{
		padding: 0px 35px;
	}

	.content h1{
		font-size: 250px;
		letter-spacing: 30px;
	}

	.content p{
		margin-top: 420px;
		padding-top: 50px;
	}

	.main-img img{
		margin-bottom: 250px;
	}
}

/* Estilos adicionales para pantallas 4K (2160p) */

@media (min-width: 3840px) {
	.logo img{
		width: 300px;
	}

	nav ul li{
		padding: 0px 50px;
	}

	.content h1{
		font-size: 350px;
		letter-spacing: 40px;
	}

	.content p{
		margin-top: 520px;
		padding-top: 70px;
	}

	.main-img img{
		margin-bottom: 350px;
	}
}
